[submodule "lua"]
	path = lua
	url = https://github.com/GerHobbelt/lua.git
	ignore = dirty
[submodule "CPython"]
	path = CPython
	url = https://github.com/GerHobbelt/cpython.git
	ignore = dirty
[submodule "xtensor"]
	path = xtensor
	url = https://github.com/GerHobbelt/xtensor.git
	ignore = dirty
[submodule "xtensor-blas"]
	path = xtensor-blas
	url = https://github.com/GerHobbelt/xtensor-blas.git
	ignore = dirty
[submodule "xtensor-io"]
	path = xtensor-io
	url = https://github.com/GerHobbelt/xtensor-io.git
	ignore = dirty
[submodule "mlpack"]
	path = mlpack
	url = https://github.com/GerHobbelt/mlpack.git

[submodule "rapidJSON"]
	path = rapidJSON
	url = https://github.com/GerHobbelt/rapidjson.git

[submodule "HighFive-HDF5"]
	path = HighFive-HDF5
	url = https://github.com/GerHobbelt/HighFive.git
	ignore = dirty
[submodule "OpenImageIO"]
	path = OpenImageIO
	url = https://github.com/GerHobbelt/oiio.git
	ignore = dirty
[submodule "luaJIT"]
	path = luaJIT
	url = https://github.com/GerHobbelt/LuaJIT.git
	ignore = dirty
[submodule "hunspell"]
	path = hunspell
	url = https://github.com/GerHobbelt/hunspell.git

[submodule "hunspell-hyphen"]
	path = hunspell-hyphen
	url = https://github.com/GerHobbelt/hyphen.git
	
[submodule "math-atlas"]
	path = math-atlas
	url = https://github.com/GerHobbelt/math-atlas.git
	ignore = dirty
[submodule "opencv"]
	path = opencv
	url = https://github.com/GerHobbelt/opencv.git
	
[submodule "ImageMagick"]
	path = ImageMagick
	url = https://github.com/GerHobbelt/ImageMagick.git
	ignore = dirty
[submodule "unicode-cldr"]
	path = unicode-cldr
	url = https://github.com/GerHobbelt/cldr.git
	
[submodule "unicode-icu"]
	path = unicode-icu
	url = https://github.com/GerHobbelt/icu.git
	
[submodule "dlib"]
	path = dlib
	url = https://github.com/GerHobbelt/dlib.git
	
[submodule "MITIE-nlp"]
	path = MITIE-nlp
	url = https://github.com/GerHobbelt/MITIE.git
	ignore = dirty
[submodule "flatbuffers"]
	path = flatbuffers
	url = https://github.com/GerHobbelt/flatbuffers.git
	ignore = dirty
[submodule "h5cpp-HDF5"]
	path = h5cpp-HDF5
	url = https://github.com/GerHobbelt/h5cpp.git
	ignore = dirty
[submodule "HDF5"]
	path = HDF5
	url = https://github.com/GerHobbelt/hdf5.git
	ignore = dirty
[submodule "yyjson"]
	path = yyjson
	url = https://github.com/GerHobbelt/yyjson.git

[submodule "flatcc"]
	path = flatcc
	url = https://github.com/GerHobbelt/flatcc.git
	ignore = dirty
[submodule "bebop"]
	path = bebop
	url = https://github.com/GerHobbelt/bebop.git

[submodule "inih"]
	path = inih
	url = https://github.com/GerHobbelt/inih.git
	
[submodule "iniparser"]
	path = iniparser
	url = https://github.com/GerHobbelt/iniparser.git
	
[submodule "tre"]
	path = tre
	url = https://github.com/GerHobbelt/tre.git
	
[submodule "hyperscan"]
	path = hyperscan
	url = https://github.com/GerHobbelt/hyperscan.git
	ignore = dirty
[submodule "EasyLogger"]
	path = EasyLogger
	url = https://github.com/GerHobbelt/EasyLogger.git

[submodule "log4cplus"]
	path = log4cplus
	url = https://github.com/GerHobbelt/log4cplus.git

[submodule "zlog"]
	path = zlog
	url = https://github.com/GerHobbelt/zlog.git

[submodule "clipp"]
	path = clipp
	url = https://github.com/GerHobbelt/clipp.git

[submodule "olena"]
	path = olena
	url = https://github.com/GerHobbelt/olena.git
	ignore = dirty
[submodule "hocr-spec"]
	path = hocr-spec
	url = https://github.com/GerHobbelt/hocr-spec.git
	
[submodule "hocr-tools"]
	path = hocr-tools
	url = https://github.com/GerHobbelt/hocr-tools.git
	
[submodule "hocr-fileformat"]
	path = hocr-fileformat
	url = https://github.com/GerHobbelt/ocr-fileformat.git
	
[submodule "BLAKE3"]
	path = BLAKE3
	url = https://github.com/GerHobbelt/BLAKE3.git

[submodule "FastBinaryEncoding"]
	path = FastBinaryEncoding
	url = https://github.com/GerHobbelt/FastBinaryEncoding.git

[submodule "cryptopp"]
	path = cryptopp
	url = https://github.com/GerHobbelt/cryptopp.git

[submodule "sqlite"]
	path = sqlite
	url = https://github.com/GerHobbelt/sqlite.git

[submodule "libwebp"]
	path = libwebp
	url = https://github.com/GerHobbelt/libwebp.git

[submodule "libgif"]
	path = libgif
	url = https://github.com/GerHobbelt/libgif.git

[submodule "upskirt-markdown"]
	path = upskirt-markdown
	url = https://github.com/GerHobbelt/soldout.git

[submodule "pthread-win32"]
	path = pthread-win32
	url = https://github.com/GerHobbelt/pthread-win32.git

[submodule "jasper"]
	path = jasper
	url = https://github.com/GerHobbelt/jasper.git
	
[submodule "lz4"]
	path = lz4
	url = https://github.com/GerHobbelt/lz4.git

[submodule "opencv_contrib"]
	path = opencv_contrib
	url = https://github.com/GerHobbelt/opencv_contrib.git
	
[submodule "libzmq"]
	path = libzmq
	url = https://github.com/GerHobbelt/libzmq.git

[submodule "re2"]
	path = re2
	url = https://github.com/GerHobbelt/re2.git
	
[submodule "glob"]
	path = glob
	url = https://github.com/GerHobbelt/glob.git
	
[submodule "libvips"]
	path = libvips
	url = https://github.com/GerHobbelt/libvips.git

[submodule "GraphicsMagick"]
	path = GraphicsMagick
	url = https://github.com/GerHobbelt/graphicsmagick.git
	ignore = dirty
[submodule "googletest"]
	path = googletest
	url = https://github.com/GerHobbelt/googletest.git

[submodule "jpeg-xl"]
	path = jpeg-xl
	url = https://github.com/GerHobbelt/jpeg-xl.git

[submodule "libjpeg-turbo"]
	path = libjpeg-turbo
	url = https://github.com/GerHobbelt/libjpeg-turbo.git

[submodule "XMP-Toolkit-SDK"]
	path = XMP-Toolkit-SDK
	url = https://github.com/GerHobbelt/XMP-Toolkit-SDK.git
	
[submodule "libexpat"]
	path = libexpat
	url = https://github.com/GerHobbelt/libexpat.git
	
[submodule "xsimd"]
	path = xsimd
	url = https://github.com/GerHobbelt/xsimd.git
	
[submodule "xtl"]
	path = xtl
	url = https://github.com/GerHobbelt/xtl.git
	
[submodule "json"]
	path = json
	url = https://github.com/GerHobbelt/nlohmann-json.git
	
[submodule "sqlite-amalgamation"]
	path = sqlite-amalgamation
	url = https://github.com/GerHobbelt/sqlite-amalgamation.git

[submodule "QuickJS"]
	path = QuickJS
	url = https://github.com/GerHobbelt/quickjs.git
	
[submodule "ECMA262"]
	path = ECMA262
	url = https://github.com/GerHobbelt/ecma262.git
	
[submodule "libtuv"]
	path = libtuv
	url = https://github.com/GerHobbelt/libtuv.git
	ignore = dirty
[submodule "http-parser"]
	path = http-parser
	url = https://github.com/GerHobbelt/http-parser.git
	
[submodule "picohttpparser"]
	path = picohttpparser
	url = https://github.com/GerHobbelt/picohttpparser.git

[submodule "libsvm"]
	path = libsvm
	url = https://github.com/GerHobbelt/libsvm.git
	
[submodule "thunderSVM"]
	path = thunderSVM
	url = https://github.com/GerHobbelt/thundersvm.git
	
[submodule "fmt"]
	path = fmt
	url = https://github.com/GerHobbelt/fmt.git

[submodule "xml-pugixml"]
	path = xml-pugixml
	url = https://github.com/GerHobbelt/pugixml.git
	
[submodule "json-jansson"]
	path = json-jansson
	url = https://github.com/GerHobbelt/jansson.git
	
[submodule "yara-pattern-matcher"]
	path = yara-pattern-matcher
	url = https://github.com/GerHobbelt/yara.git

[submodule "HDiffPatch"]
	path = HDiffPatch
	url = https://github.com/GerHobbelt/HDiffPatch.git
	ignore = dirty
[submodule "dtl-diff-template-library"]
	path = dtl-diff-template-library
	url = https://github.com/GerHobbelt/dtl.git
	ignore = dirty
[submodule "google-diff-match-patch"]
	path = google-diff-match-patch
	url = https://github.com/GerHobbelt/diff-match-patch.git

[submodule "txiki.js"]
	path = txiki.js
	url = https://github.com/GerHobbelt/txiki.js.git

[submodule "libxml2"]
	path = libxml2
	url = https://github.com/GerHobbelt/libxml2.git

[submodule "gumbo-libxml"]
	path = gumbo-libxml
	url = https://github.com/GerHobbelt/gumbo-libxml.git
	
[submodule "libarchive"]
	path = libarchive
	url = https://github.com/GerHobbelt/libarchive.git
	
[submodule "svg-charter"]
	path = svg-charter
	url = https://github.com/GerHobbelt/charter.git

[submodule "tinyexpr"]
	path = tinyexpr
	url = https://github.com/GerHobbelt/tinyexpr.git

[submodule "GDCM-Grassroots-DICOM"]
	path = GDCM-Grassroots-DICOM
	url = https://github.com/GerHobbelt/GDCM.git
	ignore = dirty
[submodule "c-blosc2"]
	path = c-blosc2
	url = https://github.com/GerHobbelt/c-blosc2.git

[submodule "lzsse"]
	path = lzsse
	url = https://github.com/GerHobbelt/LZSSE.git

[submodule "lizard"]
	path = lizard
	url = https://github.com/GerHobbelt/lizard.git
	ignore = dirty
[submodule "fast-lzma2"]
	path = fast-lzma2
	url = https://github.com/GerHobbelt/fast-lzma2.git

[submodule "boost"]
	path = boost
	url = https://github.com/GerHobbelt/boost.git
	ignore = dirty
[submodule "xz-utils"]
	path = xz-utils
	url = https://github.com/GerHobbelt/xz.git

[submodule "libwebsockets"]
	path = libwebsockets
	url = https://github.com/GerHobbelt/libwebsockets.git
	ignore = dirty
[submodule "mcmc"]
	path = mcmc
	url = https://github.com/GerHobbelt/mcmc.git
	
[submodule "mmc"]
	path = mmc
	url = https://github.com/GerHobbelt/mmc.git
	
[submodule "mipp"]
	path = mipp
	url = https://github.com/GerHobbelt/MIPP.git

[submodule "clippson"]
	path = clippson
	url = https://github.com/GerHobbelt/clippson.git
	
[submodule "djvulibre"]
	path = djvulibre
	url = https://github.com/GerHobbelt/djvulibre.git
	
[submodule "zstd"]
	path = zstd
	url = https://github.com/GerHobbelt/zstd.git
	
[submodule "libwebsocketpp"]
	path = libwebsocketpp
	url = https://github.com/GerHobbelt/websocketpp.git
	ignore = dirty
[submodule "websocket-sharp"]
	path = websocket-sharp
	url = https://github.com/GerHobbelt/websocket-sharp.git
	ignore = dirty
[submodule "oatpp"]
	path = oatpp
	url = https://github.com/GerHobbelt/oatpp.git
	
[submodule "crow"]
	path = crow
	url = https://github.com/GerHobbelt/crow.git

[submodule "lda"]
	path = lda
	url = https://github.com/GerHobbelt/lda-c.git
	
[submodule "lda-Familia"]
	path = lda-Familia
	url = https://github.com/GerHobbelt/Familia.git
	
[submodule "lda-bigartm"]
	path = lda-bigartm
	url = https://github.com/GerHobbelt/bigartm.git
	
[submodule "LightLDA"]
	path = LightLDA
	url = https://github.com/GerHobbelt/LightLDA.git
	
[submodule "CHM-lib"]
	path = CHM-lib
	url = https://github.com/GerHobbelt/CHMLib.git
	
[submodule "lib_nas_lockfile"]
	path = lib_nas_lockfile
	url = https://github.com/GerHobbelt/lib_nas_lockfile.git

[submodule "mht-rip"]
	path = mht-rip
	url = https://github.com/GerHobbelt/mht-rip.git
	
[submodule "snappy"]
	path = snappy
	url = https://github.com/GerHobbelt/snappy.git

[submodule "pithy"]
	path = pithy
	url = https://github.com/GerHobbelt/pithy.git

[submodule "lzo"]
	path = lzo
	url = https://github.com/GerHobbelt/lzo.git

[submodule "squash"]
	path = squash
	url = https://github.com/GerHobbelt/squash.git

[submodule "shoco"]
	path = shoco
	url = https://github.com/GerHobbelt/shoco.git
	
[submodule "libsmile"]
	path = libsmile
	url = https://github.com/GerHobbelt/libsmile.git
	
[submodule "lapack"]
	path = lapack
	url = https://github.com/GerHobbelt/lapack.git
	
[submodule "openssl"]
	path = openssl
	url = https://github.com/GerHobbelt/openssl.git

[submodule "OpenEXR"]
	path = OpenEXR
	url = https://github.com/GerHobbelt/openexr.git
	ignore = dirty
[submodule "Imath"]
	path = Imath
	url = https://github.com/GerHobbelt/Imath.git
	ignore = dirty
[submodule "oneTBB"]
	path = oneTBB
	url = https://github.com/GerHobbelt/oneTBB.git

[submodule "mimetic"]
	path = mimetic
	url = https://github.com/GerHobbelt/mimetic.git
	
[submodule "libzip"]
	path = libzip
	url = https://github.com/GerHobbelt/libzip.git
	
[submodule "gumbo-query"]
	path = gumbo-query
	url = https://github.com/GerHobbelt/gumbo-query.git
	
[submodule "pytorch"]
	path = pytorch
	url = https://github.com/GerHobbelt/pytorch.git
	
[submodule "glog"]
	path = glog
	url = https://github.com/GerHobbelt/glog.git
	
[submodule "replxx"]
	path = replxx
	url = https://github.com/GerHobbelt/replxx.git
	
[submodule "tidy-html5"]
	path = tidy-html5
	url = https://github.com/GerHobbelt/tidy-html5.git
	
[submodule "pmt-png-tools"]
	path = pmt-png-tools
	url = https://github.com/GerHobbelt/pmt.git
	
[submodule "ScriptX"]
	path = ScriptX
	url = https://github.com/GerHobbelt/ScriptX.git

[submodule "QuickJS-C++-Wrapper"]
	path = QuickJS-C++-Wrapper
	url = https://github.com/GerHobbelt/quickjscpp.git

[submodule "libconfig"]
	path = libconfig
	url = https://github.com/GerHobbelt/libconfig.git

[submodule "OptimizationTemplateLibrary"]
	path = OptimizationTemplateLibrary
	url = https://github.com/GerHobbelt/O-T-L.git

[submodule "otl"]
	path = otl
	url = https://github.com/GerHobbelt/otl.git

[submodule "brotli"]
	path = brotli
	url = https://github.com/GerHobbelt/brotli.git

[submodule "tomlpp"]
	path = tomlpp
	url = https://github.com/GerHobbelt/tomlplusplus.git

[submodule "plf_nanotimer"]
	path = plf_nanotimer
	url = https://github.com/GerHobbelt/plf_nanotimer.git

[submodule "ice"]
	path = ice
	url = https://github.com/GerHobbelt/ice.git

[submodule "mime-mega"]
	path = mime-mega
	url = https://github.com/GerHobbelt/MegaMimes.git

[submodule "file"]
	path = file
	url = https://github.com/GerHobbelt/file.git

[submodule "libyaml"]
	path = libyaml
	url = https://github.com/GerHobbelt/libyaml.git

[submodule "lmdb"]
	path = lmdb
	url = https://github.com/GerHobbelt/lmdb.git

[submodule "tlx-btree"]
	path = tlx-btree
	url = https://github.com/GerHobbelt/tlx.git

[submodule "cpp-btree"]
	path = cpp-btree
	url = https://github.com/GerHobbelt/cpp-btree.git

[submodule "libcmime"]
	path = libcmime
	url = https://github.com/GerHobbelt/libcmime.git

[submodule "gflags"]
	path = gflags
	url = https://github.com/GerHobbelt/gflags.git
	
[submodule "libidn2"]
	path = libidn2
	url = https://github.com/GerHobbelt/libidn2.git

[submodule "uint128_t"]
	path = uint128_t
	url = https://github.com/GerHobbelt/uint128_t.git

[submodule "bzip2"]
	path = bzip2
	url = git@github.com:GerHobbelt/bzip2.git

[submodule "cereal"]
	path = cereal
	url = git@github.com:GerHobbelt/cereal.git

[submodule "parallel-hashmap"]
	path = parallel-hashmap
	url = git@github.com:GerHobbelt/parallel-hashmap.git

[submodule "tlx"]
	path = tlx
	url = git@github.com:GerHobbelt/tlx.git
	
[submodule "palmtree"]
	path = palmtree
	url = git@github.com:GerHobbelt/palmtree.git
	
[submodule "jemalloc"]
	path = jemalloc
	url = git@github.com:GerHobbelt/jemalloc.git
	
[submodule "gbenchmark"]
	path = gbenchmark
	url = git@github.com:GerHobbelt/benchmark.git
	
[submodule "protobuf"]
	path = protobuf
	url = git@github.com:GerHobbelt/protobuf.git
	
[submodule "resumable-assert"]
	path = resumable-assert
	url = git@github.com:GerHobbelt/resumable-assert.git
	
[submodule "docopt"]
	path = docopt
	url = git@github.com:GerHobbelt/docopt.cpp.git
	
[submodule "bibutils"]
	path = bibutils
	url = git@github.com:GerHobbelt/bibutils.git
	
[submodule "bibtex-robust-decoder"]
	path = bibtex-robust-decoder
	url = git@github.com:GerHobbelt/bibtex-robust-decoder.git
	
[submodule "efsw"]
	path = efsw
	url = git@github.com:GerHobbelt/efsw.git
	
[submodule "url"]
	path = url
	url = git@github.com:GerHobbelt/url.git
	
[submodule "breakpad"]
	path = breakpad
	url = git@github.com:GerHobbelt/breakpad.git
	
[submodule "libqrencode"]
	path = libqrencode
	url = git@github.com:GerHobbelt/libqrencode.git
	
[submodule "tiny-process-library"]
	path = tiny-process-library
	url = git@github.com:GerHobbelt/tiny-process-library.git
	
[submodule "Lightning.NET"]
	path = Lightning.NET
	url = git@github.com:GerHobbelt/Lightning.NET.git
	
[submodule "lmdb-store"]
	path = lmdb-store
	url = git@github.com:GerHobbelt/lmdb-store.git
	
[submodule "lmdb-safe"]
	path = lmdb-safe
	url = git@github.com:GerHobbelt/lmdb-safe.git
	
[submodule "lmdb.spreads.net"]
	path = lmdb.spreads.net
	url = git@github.com:GerHobbelt/Spreads.LMDB.git
	
[submodule "createprocess-windows"]
	path = createprocess-windows
	url = git@github.com:GerHobbelt/createprocess-windows.git
[submodule "messagebox-windows"]
	path = messagebox-windows
	url = git@github.com:GerHobbelt/messagebox-windows.git
[submodule "spy-build-sysinfo"]
	path = spy-build-sysinfo
	url = git@github.com:GerHobbelt/spy.git
[submodule "cli11"]
	path = cli11
	url = git@github.com:GerHobbelt/CLI11.git
[submodule "clBLAS"]
	path = clBLAS
	url = git@github.com:GerHobbelt/clBLAS.git
[submodule "pcg-c-random"]
	path = pcg-c-random
	url = git@github.com:GerHobbelt/pcg-c.git
[submodule "stdext-path"]
	path = stdext-path
	url = git@github.com:GerHobbelt/stdext-path.git
[submodule "lmdbxx"]
	path = lmdbxx
	url = git@github.com:GerHobbelt/lmdbxx.git
[submodule "libcpuid"]
	path = libcpuid
	url = git@github.com:GerHobbelt/libcpuid.git
[submodule "thread-pool-cpp"]
	path = thread-pool-cpp
	url = git@github.com:GerHobbelt/thread-pool-cpp.git
[submodule "sparsehash"]
	path = sparsehash
	url = git@github.com:GerHobbelt/sparsehash.git
[submodule "ncnn"]
	path = ncnn
	url = git@github.com:GerHobbelt/ncnn.git
[submodule "xxHash"]
	path = xxHash
	url = git@github.com:GerHobbelt/xxHash.git
[submodule "cpuinfo"]
	path = cpuinfo
	url = git@github.com:GerHobbelt/cpuinfo.git
[submodule "thread-pool"]
	path = thread-pool
	url = git@github.com:GerHobbelt/thread-pool.git
[submodule "thread-pool-c"]
	path = thread-pool-c
	url = git@github.com:GerHobbelt/C-Thread-Pool.git
[submodule "sentencepiece"]
	path = sentencepiece
	url = git@github.com:GerHobbelt/sentencepiece.git
[submodule "sentence-tokenizer"]
	path = sentence-tokenizer
	url = git@github.com:GerHobbelt/Tokenizer.git
[submodule "you-token-to-me"]
	path = you-token-to-me
	url = git@github.com:GerHobbelt/YouTokenToMe.git
[submodule "libtextcat"]
	path = libtextcat
	url = git@github.com:GerHobbelt/libtextcat.git
[submodule "uctodata"]
	path = uctodata
	url = git@github.com:GerHobbelt/uctodata.git
[submodule "ucto"]
	path = ucto
	url = git@github.com:GerHobbelt/ucto.git
[submodule "libfolia"]
	path = libfolia
	url = git@github.com:GerHobbelt/libfolia.git
[submodule "fastBPE"]
	path = fastBPE
	url = git@github.com:GerHobbelt/fastBPE.git

[submodule "libunifex"]
	path = libunifex
	url = git@github.com:GerHobbelt/libunifex.git
[submodule "libscanf"]
	path = libscanf
	url = git@github.com:GerHobbelt/scnlib.git
[submodule "magic_enum"]
	path = magic_enum
	url = git@github.com:GerHobbelt/magic_enum.git
[submodule "hedley"]
	path = hedley
	url = git@github.com:GerHobbelt/hedley.git
[submodule "expected-lite"]
	path = expected-lite
	url = git@github.com:GerHobbelt/expected-lite.git
[submodule "spdlog"]
	path = spdlog
	url = git@github.com:GerHobbelt/spdlog.git
[submodule "many-stop-words"]
	path = many-stop-words
	url = git@github.com:GerHobbelt/many-stop-words.git
[submodule "stopwords"]
	path = stopwords
	url = git@github.com:GerHobbelt/stopwords.git
[submodule "wget"]
	path = wget
	url = git@github.com:GerHobbelt/wget.git
