CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
/sqlite-amalgamation-3350300.zip
/sqlite-doc-3350300.zip
/sqlite-preprocessed-3350300.zip
/sqlite-src-3350300.zip
/research
