[submodule "lua"]
	path = lua
	url = git@github.com:GerHobbelt/lua.git
[submodule "jerryscript"]
	path = jerryscript
	url = git@github.com:GerHobbelt/jerryscript.git
[submodule "CPython"]
	path = CPython
	url = git@github.com:GerHobbelt/cpython.git
[submodule "civet-webserver"]
	path = civet-webserver
	url = git@github.com:GerHobbelt/civet-webserver.git
[submodule "xtensor"]
	path = xtensor
	url = git@github.com:GerHobbelt/xtensor.git
[submodule "xtensor-blas"]
	path = xtensor-blas
	url = git@github.com:GerHobbelt/xtensor-blas.git
[submodule "xtensor-io"]
	path = xtensor-io
	url = git@github.com:GerHobbelt/xtensor-io.git
[submodule "mlpack"]
	path = mlpack
	url = git@github.com:GerHobbelt/mlpack.git
[submodule "rapidJSON"]
	path = rapidJSON
	url = git@github.com:GerHobbelt/rapidjson.git
[submodule "c-blosc"]
	path = c-blosc
	url = git@github.com:GerHobbelt/c-blosc.git
[submodule "HighFive-HDF5"]
	path = HighFive-HDF5
	url = git@github.com:GerHobbelt/HighFive.git
[submodule "OpenImageIO"]
	path = OpenImageIO
	url = git@github.com:GerHobbelt/oiio.git
[submodule "luaJIT"]
	path = luaJIT
	url = git@github.com:GerHobbelt/LuaJIT.git
[submodule "hunspell"]
	path = hunspell
	url = git@github.com:GerHobbelt/hunspell.git
[submodule "hunspell-hyphen"]
	path = hunspell-hyphen
	url = git@github.com:GerHobbelt/hyphen.git
[submodule "math-atlas"]
	path = math-atlas
	url = git@github.com:GerHobbelt/math-atlas.git
[submodule "opencv"]
	path = opencv
	url = git@github.com:GerHobbelt/opencv.git
[submodule "ImageMagick"]
	path = ImageMagick
	url = git@github.com:GerHobbelt/ImageMagick.git
[submodule "unicode-cldr"]
	path = unicode-cldr
	url = git@github.com:GerHobbelt/cldr.git
[submodule "unicode-icu"]
	path = unicode-icu
	url = git@github.com:GerHobbelt/icu.git
[submodule "dlib"]
	path = dlib
	url = git@github.com:GerHobbelt/dlib.git
[submodule "MITIE-nlp"]
	path = MITIE-nlp
	url = git@github.com:GerHobbelt/MITIE.git
[submodule "flatbuffers"]
	path = flatbuffers
	url = git@github.com:GerHobbelt/flatbuffers.git
[submodule "h5cpp-HDF5"]
	path = h5cpp-HDF5
	url = git@github.com:GerHobbelt/h5cpp.git
[submodule "HDF5"]
	path = HDF5
	url = git@github.com:GerHobbelt/hdf5.git
[submodule "yyjson"]
	path = yyjson
	url = git@github.com:GerHobbelt/yyjson.git
[submodule "flatcc"]
	path = flatcc
	url = git@github.com:GerHobbelt/flatcc.git
[submodule "bebop"]
	path = bebop
	url = git@github.com:GerHobbelt/bebop.git
[submodule "inih"]
	path = inih
	url = git@github.com:GerHobbelt/inih.git
[submodule "iniparser"]
	path = iniparser
	url = git@github.com:GerHobbelt/iniparser.git
[submodule "popt"]
	path = popt
	url = git@github.com:GerHobbelt/POPT.git
[submodule "tre"]
	path = tre
	url = git@github.com:GerHobbelt/tre.git
[submodule "hyperscan"]
	path = hyperscan
	url = git@github.com:GerHobbelt/hyperscan.git
[submodule "EasyLogger"]
	path = EasyLogger
	url = git@github.com:GerHobbelt/EasyLogger.git
[submodule "log4cplus"]
	path = log4cplus
	url = git@github.com:GerHobbelt/log4cplus.git
[submodule "zlog"]
	path = zlog
	url = git@github.com:GerHobbelt/zlog.git
[submodule "clipp"]
	path = clipp
	url = git@github.com:GerHobbelt/clipp.git
[submodule "olena"]
	path = olena
	url = git@github.com:GerHobbelt/olena.git
[submodule "hocr-spec"]
	path = hocr-spec
	url = git@github.com:GerHobbelt/hocr-spec.git
[submodule "hocr-tools"]
	path = hocr-tools
	url = git@github.com:GerHobbelt/hocr-tools.git
[submodule "hocr-fileformat"]
	path = hocr-fileformat
	url = git@github.com:GerHobbelt/ocr-fileformat.git
[submodule "BLAKE3"]
	path = BLAKE3
	url = git@github.com:GerHobbelt/BLAKE3.git
[submodule "FastBinaryEncoding"]
	path = FastBinaryEncoding
	url = git@github.com:GerHobbelt/FastBinaryEncoding.git
[submodule "cryptopp"]
	path = cryptopp
	url = git@github.com:GerHobbelt/cryptopp.git
[submodule "sqlite"]
	path = sqlite
	url = git@github.com:GerHobbelt/sqlite.git
[submodule "libwebp"]
	path = libwebp
	url = git@github.com:GerHobbelt/libwebp.git
[submodule "libgif"]
	path = libgif
	url = git@github.com:GerHobbelt/libgif.git
[submodule "upskirt-markdown"]
	path = upskirt-markdown
	url = git@github.com:GerHobbelt/upskirt.git
[submodule "pthread-win32"]
	path = pthread-win32
	url = git@github.com:GerHobbelt/pthread-win32.git
[submodule "jasper"]
	path = jasper
	url = git@github.com:GerHobbelt/jasper.git
[submodule "lz4"]
	path = lz4
	url = git@github.com:GerHobbelt/lz4.git
[submodule "opencv_contrib"]
	path = opencv_contrib
	url = git@github.com:GerHobbelt/opencv_contrib.git
[submodule "libzmq"]
	path = libzmq
	url = git@github.com:GerHobbelt/libzmq.git
